* {
    margin: 0px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em; 
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
}

.logo-site {
    margin: auto;
    display: block;
    max-width: 30%;
    height: auto;
    animation: flotter 3s ease-in-out infinite;

}

@keyframes flotter {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
}

header {
    text-align: center;
   background: linear-gradient(to right, #daf5dc, #fff5c3);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.05);
  position: relative;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.sous-titre {
    margin-top: -30px;
    margin-bottom: 40px;
    color: #444;
    font-style: italic;
    font-size: 0.8em;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 10px 30px;
  border-radius: 30px;
}

.nav-links a {
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.nav-links a:hover {
    color: #fcbf9e;
    transform: scale(1.05);
}


main {
    text-align: center;
    background-color: #ffff;
}

.fil-ariane {
  font-size: 0.8em;
  color: #666;
  text-align: left;
  font-style: italic;
  margin-top: 20px;
  margin-left: 5px;
}

.fil-ariane a {
    color: #666;
    text-decoration: underline;
}

.nom-ville {
    margin-top: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.annee {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 1em;
    font-weight: lighter;
}

.galerie {
  column-count: 3; 
  column-gap: 1em;
  padding: 1em;
    margin-bottom: 80px;
}

.galerie img {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 10px;
  display: block;
  opacity: 0;
  animation: fadein 2s ease forwards;
}

@keyframes fadein {
  to { opacity: 1; }
}


footer {
    font-size: 0.8em;
    margin: 30px;
    text-align: center;
}